include README.rst CHANGES.rst LICENSE LICENSE.APACHE2 LICENSE.MIT CONTRIBUTORS.txt dev-requirements.txt Makefile pyproject.toml
recursive-include dummyserver *
recursive-include test *
recursive-include docs *
recursive-exclude docs/_build *
